html, body {
	font-size: 100%;
	font-family: 'Slabo 27px', serif;
}

.container {
	display: flex;
	height: 100%;
}

.blockLeft {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*border: 1px solid green;*/
	min-width: 30%;
	width: 30%;
	padding: .8rem;
}

.fa-thank {
	color : $red;
	margin-left: .5em;
	cursor: pointer;
}

a {
	&.resume {
		position: absolute;
		right: 0;
		top: 0;
		text-decoration: none;
		cursor: pointer;
		margin: .9em 1.9em;
	}
}

.blockRight {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	flex-shrink: 1;
	padding: 3rem 7rem;
}

.blockLeft {
	.containerInfo {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: #757575;
		font-family: 'Jockey One', sans-serif;
		letter-spacing: .1ch;
		img {
			background-color: #9E9E9E;
		}
		.myProfileImage {
			min-height: 220px;
			width: 220px;
			min-width: 110px;
			border-radius: 100%;
			-moz-border-radius: 100%;
		}
		.myName {
			font-size: 1.9rem;
			font-weight: bold;
			margin: .5em 0 .2em;
			color: #424242;
		}
		.myRole {
			font-style: italic;
			font-size: 1rem;
			font-family: 'Slabo 27px', serif;
		}
	}
}

.blockMySocialMedias {
	margin: 1.5em 0 1.1em;

	.medias {
		display: flex;
		li {
			margin: 0 1.3em;
		}		
	}

	.social-icon {
		color : #757575;
		&:hover {
			transition: .9s;
			color : #212121;
		}
	}
}

.aboutMe {
	padding: .9rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	color: #424242;
	section {
		margin-bottom: 2em;
	}
	p {
		margin-left: 1.5em;
		text-align: justify;
	}	
}

.profile .blockIconTitle {
	display: flex;
	align-items: center;
	margin-bottom: .8em;
}

.profile .blockIconTitle .blockIcon {
	margin-right: .8em;
	margin-left: .5em;	
}

.title {
	font-size: 1.1rem;
	font-weight: bold;
	text-transform: capitalize;
	color: #212121;
	letter-spacing: .1ch;
	font-family: 'Jockey One', sans-serif;
}

.profile .profileText {
	line-height: 1.5rem;
	font-style: italic;
	color: #212121;
}

	.profile .profileText:before {
		content: '"';
	}

	.profile .profileText:after {
		content: '"';
	}

.profile .mySkills {
	display: flex;
	flex-direction: column;
	margin-left: 1.5rem;
}

	.profile .mySkills .containerBar {
		height: 20px;
		width: 100%;
		background-color: #9E9E9E;
	}

	.profile .mySkills li {
		margin: .3em 0;
	}

	.profile .mySkills .containerBar .fillBar {
		margin-top: .5em;
		height: 100%;
		background-color: #616161;
	}	

	.mySkills .skill span {
		font-style: italic;
		color: #212121;
	}

	.fill10 {width: 10%;}
	.fill20 {width: 20%;}
	.fill30 {width: 30%;}
	.fill40 {width: 40%;}
	.fill50 {width: 50%;}
	.fill60 {width: 60%;}
	.fill70 {width: 70%;}
	.fill72 {width: 72%;}
	.fill79 {width: 79%;}
	.fill80 {width: 80%;}
	.fill90 {width: 90%;}
	.fill100 {width: 100%;}

.contactInfo {
	display: flex;
	flex-direction: column;
	margin-left: 1.8rem;
	color: #212121;
	.fa-contact {
		font-size: .9rem
	}
	li {
		margin: .5em 0; 
		i {
			margin-right: .5em; 
		}
		a {
			text-decoration: none;
		}
	}
}

/*right content*/
.containerExperiences {
	.titleIconExperiencesContainer {
		display: flex;
		align-items: center;
	}
	.iconExperiences {
		margin-right: 1.5rem;
	}	
}

.containerExperiences 

.myTimeline {
	.myExperiences {
		display: flex;
		flex-direction: column;
		.dividerYear:first-child {
			margin: 1.8em 0;
		}
		.dividerYear {
			margin: .9em 0;
			font-style: italic;
			text-align: center;
			color: #757575;
			hr {
				border: 0;
				height: 1px;
				background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(117, 117, 117, 0.75), rgba(0, 0, 0, 0));
			}
		}
		.job {
			margin-bottom: .8em;
			display: flex;
			flex-direction: row;
			color: #212121;
			.jobDate {
				margin-right: 1.9em;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding-right: .6em;
				font-style: italic;
				font-size: .8em;
				.end {
					color: #9E9E9E;
					&.current {
						color: #607D8B;
					}
				}
				.init {
					margin-bottom: .5em;
					color: #4CAF50;
				}				
			}			
		}
		li {
			&:first-child {
				margin-top: .8em;
			}
			.blockImage {
				display: flex;
				flex-direction: row;
				align-items: center;
				img {
					margin-right: 1rem;
					width: 32px;
					border-radius: 50%;
				}
			}
			.jobTitle {
				font-weight: bold;
				font-size: 1.2rem;
				margin: .2em 0;
				color: #212121;
				font-family: 'Jockey One', sans-serif;
				letter-spacing: .1ch;
			}
			.jobCompany {
				font-weight: lighter;
				font-size:1rem;
				text-transform: capitalize;
				margin: .6em 0 .4em;
				color: #424242;
				a {
					color: inherit;
					text-decoration: none;
				}
			}
			.jobDescription {
				text-align: justify;
				margin: .2em 0;
				line-height: 1.6em;
				color: #212121;
			}			
		}
	}
}

/*page footer*/
footer {
	&.pageFooter {
		width: 100vw;
		color: #9E9E9E;
		.content {
			display: flex;
			align-items: center;
			justify-content: space-between;			
			margin: .9em 1.9em;
		}
	}
}

.iconColor {
	color: #212121!important;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}