html, body {
	font-size: 100%;
	font-family: 'Slabo 27px', serif;
}

.container {
	display: flex;
	height: 100%;
}

.blockLeft {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*border: 1px solid green;*/
	min-width: 30%;
	width: 30%;
	padding: .8rem;
}

.fa-thank {
	color : #f44336;
	margin-left: .5em;
	cursor: pointer;
}

a.resume {
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	color: #757575;
	cursor: pointer;
	margin: .9em 1.9em;
}
	
	a.resume:hover {
		transition: .9s;
		color : #212121;
		text-decoration: underline;
	}

.blockRight {
	display: flex;
	flex-direction: column;
	/*border: 1px solid blue;*/
	flex-grow: 2;
	flex-shrink: 1;
	padding: 3rem 7rem;
}

.blockLeft .containerInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #757575;
	font-family: 'Jockey One', sans-serif;
	letter-spacing: .1ch;
}

.containerInfo .myProfileImage {
	width: 220px;
	min-width: 110px;
	border-radius: 100%;
	-moz-border-radius: 100%;
}

.containerInfo .myName {
	font-size: 1.9rem;
	font-weight: bold;
	margin: .5em 0 .2em;
	color: #424242;
}

.containerInfo .myRole {
	font-style: italic;
	font-size: 1rem;
	font-family: 'Slabo 27px', serif;
}

.blockMySocialMedias {
	margin: 1.5em 0 1.1em;
}

	.blockMySocialMedias .medias {
		display: flex;
	}
		.blockMySocialMedias .medias li {
			margin: 0 1.3em;
		}

	.social-icon {
		color : #757575;
	}

	.social-icon:hover {
		transition: .9s;
		color : #212121;
	}

.aboutMe {
	padding: .9rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	color: #424242;
}

.aboutMe section {
	margin-bottom: 2em;
}

.aboutMe p {
	margin-left: 1.5em;
	text-align: justify;
}

.profile .blockIconTitle {
	display: flex;
	align-items: center;
	margin-bottom: .8em;
}

.profile .blockIconTitle .blockIcon {
	margin-right: .8em;
	margin-left: .5em;	
}

.title {
	font-size: 1.1rem;
	font-weight: bold;
	text-transform: capitalize;
	color: #212121;
	letter-spacing: .1ch;
	font-family: 'Jockey One', sans-serif;
}

.profile .profileText {
	line-height: 1.5rem;
	font-style: italic;
	color: #212121;
}

	.profile .profileText:before {
		content: '"';
	}

	.profile .profileText:after {
		content: '"';
	}

.profile .mySkills {
	display: flex;
	flex-direction: column;
	margin-left: 1.5rem;
}

	.profile .mySkills .containerBar {
		height: 20px;
		width: 100%;
		background-color: #9E9E9E;
	}

	.profile .mySkills li {
		margin: .3em 0;
	}

	.profile .mySkills .containerBar .fillBar {
		margin-top: .5em;
		height: 100%;
		background-color: #616161;
	}	

	.mySkills .skill span {
		font-style: italic;
		color: #212121;
	}

	.fill10 {width: 10%;}
	.fill20 {width: 20%;}
	.fill30 {width: 30%;}
	.fill40 {width: 40%;}
	.fill50 {width: 50%;}
	.fill60 {width: 60%;}
	.fill70 {width: 70%;}
	.fill72 {width: 72%;}
	.fill79 {width: 79%;}
	.fill80 {width: 80%;}
	.fill90 {width: 90%;}
	.fill100 {width: 100%;}

.contactInfo {
	display: flex;
	flex-direction: column;
	margin-left: 1.8rem;
	color: #212121;
}

	.contactInfo .fa-contact {
		font-size: .9rem
	}

	.contactInfo li {
		margin: .5em 0; 
	}

	.contactInfo li i {
		margin-right: .5em; 
	}

/*right content*/
.containerExperiences .titleIconExperiencesContainer {
	display: flex;
	align-items: center;
}

.containerExperiences .iconExperiences {
	margin-right: 1.5rem;
}

.myTimeline .myExperiences {
	display: flex;
	flex-direction: column;
}
	
	.myTimeline .myExperiences .dividerYear:first-child {
		margin: 1.8em 0;
	}

	.myTimeline .myExperiences .dividerYear {
		margin: .9em 0;
		font-style: italic;
		text-align: center;
		color: #757575;
	}	

	.myTimeline .myExperiences .dividerYear hr {
		border: 0;
		height: 1px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(117, 117, 117, 0.75), rgba(0, 0, 0, 0));
	}

.myTimeline .myExperiences li:first-child {
	margin-top: .8em;
}

.myTimeline .myExperiences .job {
	margin-bottom: .8em;
	display: flex;
	flex-direction: row;
	color: #212121;
}

.myTimeline .myExperiences .job .jobDate {
	margin-right: 1.9em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-right: .6em;
	font-style: italic;
	font-size: .8em;
}

.myTimeline .myExperiences .job .jobDate .end.current {
	color: #607D8B;
}

	.myTimeline .myExperiences .job .jobDate .init {
		margin-bottom: .5em;
		color: #4CAF50;
	}

	.myTimeline .myExperiences .job .jobDate .end {
		color: #9E9E9E;
	}

.myTimeline .myExperiences li .jobTitle {
	font-weight: bold;
	font-size: 1.2rem;
	margin: .2em 0;
	color: #212121;
	font-family: 'Jockey One', sans-serif;
	letter-spacing: .1ch;
}

.myTimeline .myExperiences li .jobCompany {
	font-weight: lighter;
	font-size:1rem;
	text-transform: capitalize;
	margin: .6em 0 .4em;
	color: #424242;
}

	.myTimeline .myExperiences li .jobCompany a {
		color: inherit;
	}

.myTimeline .myExperiences li .jobDescription {
	text-align: justify;
	margin: .2em 0;
	line-height: 1.6em;
	color: #212121;
}

/*page footer*/
footer.pageFooter {
	width: 100vw;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	bottom: 0;
	left: 0;
	position: fixed;
}

footer.pageFooter .content {
	margin: .9em 1.9em;
}

.iconColor {
	color: #212121!important;
}

@media (max-width: 769px) {
	body {
		visibility: hidden;
		overflow: hidden;
	}
}