html, body {
	font-size: 100%;
}

.container {
	display: flex;
	height: 100%;
}

.blockLeft {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*border: 1px solid green;*/
	min-width: 30%;
	width: 30%;
	padding: .8rem;
}

.fa-thank {
	color : #f44336;
	margin-left: .5em;
	cursor: pointer;
}

.blockRight {
	display: flex;
	flex-direction: column;
	/*border: 1px solid blue;*/
	flex-grow: 2;
	flex-shrink: 1;
	padding: 3rem 7rem;
}

.blockLeft .containerInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.containerInfo .myProfileImage {
	width: 220px;
	min-width: 110px;
	border-radius: 100%;
	-moz-border-radius: 100%;
}

.containerInfo .myName {
	font-size: 1.9rem;
	font-weight: bold;
	margin: .5em 0 .2em;
}

.containerInfo .myRole {
	font-style: italic;
	font-size: 1rem
}

.blockMySocialMedias {
	margin: 2em 0 1.1em;
}

	.blockMySocialMedias .medias {
		display: flex;
	}
		.blockMySocialMedias .medias li {
			margin: 0 1.3em;
		}

	.social-icon {
		color : #000;
	}

	.social-icon:hover {
		transition: .9s;
		color : #ccc;
	}

.aboutMe {
	padding: .9rem;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.aboutMe section {
	margin-bottom: 2em;
}

.aboutMe p {
	margin-left: 1.5em;
	text-align: justify;
}

.profile .blockIconTitle {
	display: flex;
	align-items: center;
	margin-bottom: .8em;
}

.profile .blockIconTitle .blockIcon {
	margin-right: .8em;
	margin-left: .5em;	
}

.title {
	font-size: 1.1rem;
	font-weight: bold;
	text-transform: capitalize;
}

.profile .profileText {
	line-height: 1.5rem;
	font-style: italic;
}

	.profile .profileText:before {
		content: '"';
	}

	.profile .profileText:after {
		content: '"';
	}

.profile .mySkills {
	display: flex;
	flex-direction: column;
	margin-left: 1.5rem;
}

	.profile .mySkills .containerBar {
		height: 9px;
		width: 100%;
		background-color: #ccc;
	}

	.profile .mySkills li {
		margin: .3em 0;
	}

	.profile .mySkills .containerBar .fillBar {
		margin-top: .5em;
		height: 100%;
		background-color: #000;
	}	

	.mySkills .skill span {
		font-style: italic;
	}

	.fill10 {width: 10%;}
	.fill20 {width: 20%;}
	.fill30 {width: 30%;}
	.fill40 {width: 40%;}
	.fill50 {width: 50%;}
	.fill60 {width: 60%;}
	.fill70 {width: 70%;}
	.fill80 {width: 80%;}
	.fill90 {width: 90%;}
	.fill100 {width: 100%;}

.contactInfo {
	display: flex;
	flex-direction: column;
	margin-left: 1.8rem;
}

	.contactInfo .fa-contact {
		font-size: .9rem
	}

	.contactInfo li {
		margin: .5em 0; 
	}

	.contactInfo li i {
		margin-right: .5em; 
	}

/*right content*/
.containerExperiences .titleIconExperiencesContainer {
	display: flex;
	align-items: center;
}

.containerExperiences .iconExperiences {
	margin-right: 1.5rem;
}

.myTimeline .myExperiences {
	display: flex;
	flex-direction: column;
}

.myTimeline .myExperiences li:first-child {
	margin-top: .8em;
}

.myTimeline .myExperiences .job {
	margin-bottom: .8em;
	display: flex;
	flex-direction: row;	
}

.myTimeline .myExperiences .job .jobDate {
	margin-right: .9em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

	.myTimeline .myExperiences .job .jobDate .init {
		margin-bottom: .5em;
	}

.myTimeline .myExperiences li .jobTitle {
	font-weight: bold;
	font-size: 1.2rem;
	margin: .2em 0;
}

.myTimeline .myExperiences li .jobCompany {
	font-weight: lighter;
	font-size:1rem;
	text-transform: capitalize;
	margin: 0 0 .2em;
	color: #ccc;
}

.myTimeline .myExperiences li .jobDescription {
	text-align: justify;
	margin: .2em 0;
	line-height: 1.5em;
}

/*page footer*/
footer.pageFooter {
	width: 100vw;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	bottom: 0;
	left: 0;
	position: fixed;
}

footer.pageFooter .content {
	margin: .9em 1.5em;
}